/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
$reach-pale-blue: #dce4ef; 
$hero-bkgd: #dce4ef;
$grey-video-border: #808080;
// Background colors: 

// special colors
/* ----------- end Colors ----------- */