/* **** media **** */
@media only screen and (max-width: 960px) {
		#bottom-widgets i.font-icon.medium { //social icons fit at tablet and below
			height: 55px;
			width: 55px;
			line-height: 58px;
		}
}

@media only screen and (min-width: 768px) {
	// anything bigger than tablet (i.e. desktop)
	h1.reach-logo:before,
	h1 span.reach-logo:before {
		content: url(images/reach-scale.png);
	}
}

/***  tablet ***/
@media only screen and (max-width: 768px) {
	$mobile-header-height: 80px;
	.reach-phone-cols { // dont make social icons rows 100% at here
		.textwidget {
			.one-third {
				width: 30%;
				float: left;
			}
		}
	}
	// the hamberger icon & nav menu
	#sb-slidebar-content {
		#slidebar-menu {
			.mobile-sub-menu-controller {
				font-size: 22px;
			}
		}

	}
	#main-wrapper {
		#header {
			.logo {
				padding-top: 8px;
				img {
					width: 60px;
				}
			}
			#header-controls-right {
				line-height: $mobile-header-height;
			}
		}
		#main {
			background-color: $reach-pale-blue;
		}
		#hero-section {
			top: $mobile-header-height; // make some space
		}
		#content {
			padding-top: $mobile-header-height; // and push content down
			.be-text-inner {
				width: 92%!important;
			}
		}
	}
}
@media only screen and (max-width: 320px){

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

}
