/* **** media **** */
@media only screen and (max-width: 960px) {
		#bottom-widgets i.font-icon.medium { //social icons fit at tablet and below
			height: 55px;
			width: 55px;
			line-height: 58px;
		}
}

@media only screen and (min-width: 768px) {
	// anything bigger than tablet (i.e. desktop)
	h1.reach-logo:before,
	h1 span.reach-logo:before {
		content: url(images/reach-scale.png);
	}

}

@media only screen and (min-width: 769px) {
	span.ea-compact {
		margin-left: -4px;
		margin-right: -2px;
	}
}

/***  tablet ***/
@media only screen and (max-width: 768px) {
	$mobile-header-height: 80px;
	$tablet-header-height: 95px;
	.reach-phone-cols { // dont make social icons rows 100% at here
		.textwidget {
			.one-fourth {
				width: 23%;
				float: left;
			}
		}
	}
	// the hamberger icon & nav menu
	#sb-slidebar-content {
		#slidebar-menu {
			.mobile-sub-menu-controller {
				font-size: 22px;
			}
		}

	}
	#main-wrapper {
		#header {
			.logo {
				padding-top: 8px;
				img {
					width: 60px;
				}
			}
			#header-controls-right {
				line-height: $mobile-header-height;
			}
		}
		#main {
			background-color: $reach-pale-blue;
		}
		#hero-section {
			//top: $mobile-header-height; // make some space
			.forcefullwidth_wrapper_tp_banner { //homepage slideshow
				padding-top: 80px;
			}
			.header-hero-custom-section {
				padding-top: $mobile-header-height;
				.hero-section-wrap.be-bg-cover {
					max-height: 220px;
				}
				.hero-section-wrap:not(.be-bg-cover) {
					height: 0px!important;
				}
			}
		}
		#hero-section.default-hero-section {
				height: $tablet-header-height;
				top: 0;
				padding-top: 0px;
		}
		#content {
			padding-top: 30px;
			.be-text-inner {
				width: 92%!important;
			}
		}
	}
	#ms-container {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}

	span.ea-compact {
		margin-left: -2px;
	}

}
@media only screen and (max-width: 480px){
	#ms-container {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}

	div#reach-bottom-cta-wrap .be-wrap, .be-wrap {
		max-width: 320px !important;
	}

	div#reach-bottom-cta-wrap h1 {
		font-size: 27px;
	}

}
@media only screen and (max-width: 320px){

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

}
